body {
  background: purple;
  margin: 0;
}

.pages-wrapper {
  background: white;
  width: 95%;
  margin: 0 auto 0;
}

div.envelope {
  height: 200vh;
}
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-inner {
    display: flex;
    justify-content: center;
    max-width: 95%;
    margin: 0 auto;
    zoom: 1.5;

    &.stack {
      flex-direction: column;

      .text {
        max-width: 100%;
        display: block;
      }
    }
  }
}

.intro {
  height: 100vh;
}
.envelope-wrapper img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}
.text {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.strike {
  text-decoration: line-through;
}
.image.left {
  order: -1;
}
.image {
  .left {
    order: -1;
  }
  img {
    margin: 20px;
  }
}
